html {
	background: linear-gradient(white, rgb(175, 206, 255), rgb(175, 206, 255), rgb(255, 94, 94));
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/**{
  margin:0;
  padding:0;
  can reset the margins to 0, no auto pad by html
}*/
body{
  /*background: rgb(0,0,0);*/
  /*font-family:Arial, sans-serif, Helvetica;
  font-weight:normal;*/
  /*Same as above*/
  font:nomal 16px Arial, Helvetica, serif;
  line-height: 1.6em;
  line-height:16px;
  margin: 0;

}

a{

  color:rgb(0,0,0);

}
a:hover{
  color:red;
}
a:active{
  color:green;
}
.container{
  width:85%;
  margin:auto;

}

.box-1{
  background-color: rgb(30,30,30);
  color:rgb(255,255,255);
  /*border-right: 5px red solid;
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;*/
  /*Same as above*/
  border:5px red solid;
  border-width: 2px;
  border-top-style: solid;
  /*Solid dotted dashed double*/
  /*padding-left: 20px;
  padding-top:  20px;
  padding-right: 20px;
  padding-bottom: 20px;
  Same as above.  */
  padding:10px;
  margin:20px 0; /*20 for top and bottom, 0 for left and right*/
}
.box-1 h1{
  font-family: Tahoma;
  font-weight:800;
  font-style:italic;
  text-decoration:underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;

}
.box-2{
  border:3px dotted rgb(10,10,10);
  padding:20px;
  margin:20px 0;
}
.categories{
  border: 1px rgb(200,200,200) solid;
  padding: 10px;
  border-radius: 15px;

}
.categories h2{
  text-align: center;
  text-decoration: underline;
}
.categories ul{
  padding: 0;
  padding-left: 20px;


}
.categories li{
  padding-bottom: 6px;
  border-bottom: solid 1px rgb(0,0,0);
  /*list-style-image: url('../js/check.png')*/
}
.box-3{
  width: 200px;
  height: 300px;
  border:3px solid rgb(0,0,0);
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left:5px;

}
.box-3 h2{
  text-align: center;

}
.box-3 p{
  font-size: 14px;
  font-weight: normal;
}
.box-4{
  border:3px solid rgb(210,0,100);
  padding:20px;
  margin:20px 0;
}
.boxes{
  display: grid;
  grid-template-columns:33% 33% 33%;
  grid-gap: 2px 2px;
}
.navbar{
  border: 1px solid green;
  /*text-align: center;
  list-style-type: none;
   margin: 0;
   padding: 0;*/
   background-color: gray;
   overflow: hidden;
   width:85;
   margin:auto;
}
.navbar li{
    display: inline-block;
    float:left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}
.navbar li:hover {
  background-color: #ddd;
   color: black;
}
