
html {
	background: linear-gradient(white, rgb(175, 206, 255), rgb(175, 206, 255), rgb(255, 94, 94));
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}
.navbar{
   text-align: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   width:85;
   margin:auto;
}
.navbar li{
    display: inline-block;
    float:left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}
.navbar li:hover {
  background-color: #ddd;
   color: black;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 10;
	font-weight: bold
}
p {
	font-family: 'Bungee', cursive;
	font-stretch: expanded;
	margin: 10;
	font-size: 120%;
}
