html {
	background: linear-gradient(white, rgb(175, 206, 255), rgb(175, 206, 255), rgb(255, 94, 94));
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}
a{

  color:rgb(0,0,0);

}
a:hover{
  color:red;
}
a:active{
  color:green;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 10;
	font-weight: bold
}
p {
	font-family: 'Bungee', cursive;
	font-stretch: expanded;
	margin: 10;
	font-size: 120%;
}
